*{
  font-family: 'Poppins', sans-serif, monospace;
}

.bg-smoke{
  background-color: whitesmoke;
}

.bg-gray{
  background-color: rgb(97, 97, 97);
}

.text-gray{
  color: rgb(128, 125, 125);
}

.card:hover{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}