*{
  font-family: 'Poppins', sans-serif, monospace;
}

.bg-smoke{
  background-color: whitesmoke;
}

.bg-gray{
  background-color: rgb(97, 97, 97);
}

.text-gray{
  color: rgb(128, 125, 125);
}

.card:hover{
  box-shadow: rgb(168, 168, 168) 10px 10px 10px;
}

.imgCol{
  position: relative;
}

.leftButton{
  position:absolute;
  left :90%;
  top: 50%;
}

.rightBox{
  position: absolute;
  top: 45%;
}

.bg-transBlack{
  background-color:rgba(00, 00, 00, 0.5);
  text-align: center;
  border-radius: 10px;
  color: rgb(180, 180, 180);

}

hr{
  background-color: aliceblue;
}

.bg-purple{
  background-color: purple;
}